<%include header%>
<div class="container">
	<br>
	<div class="card">
		<div class="line" style="margin-left: 10px"></div>
		<div class="line" style="margin-left: 15px"></div>

		<div class="texts">
			<form action="/" method="post">
			<%
				if(err.length>0){
				for(i=0;i<err.length;i++){
				%>
				<font color="red">
				<%=err[i].msg%>
				</font>

				<%
				}
				}
			%>
				<input type="text" class="form-control" name = "qn" placeholder="What is Your Question ?" style="padding-bottom:  20px">
				<div id="opt">
					<strong>
						How Many Poll Options to Add ?
					</strong>
					<input type="number" name="many" id="many" class="form-control" placeholder="Enter Number">
					<button id="sm" class="btn btn-danger">Create Options Form</button>
				</div>
				
			</form>
		</div>	
	</div>
</div>
<%include footer%>